---
import { Code } from "astro/components";
import Image from "astro/components/Image.astro";
import PersonPlaceholder from "../placeholders/PersonPlaceholder.astro";
import { parse, parse as parseYaml } from "yaml";
import normalizePlaceName from "../../cms/normalizePlaceName";
const { pageData } = Astro.props;
import HeroImage from "./HeroImage.astro";
const cardType = pageData.id.split("/")[0];
// TODO: extract location parsing and processing to a helper function
const locationData = pageData.location ? parseYaml(pageData.location) : null;
const authorLocationData = pageData?.author?.location
  ? parseYaml(pageData.author.location)
  : null;

switch (cardType) {
  case "people":
    break;
  case "lessons":
  default:
    break;
}
---

<div class="card">
  {
    cardType == "people" && (
      <Fragment>
        <p class="card-tag card-tag-person">Person</p>
        {pageData.photo ? (
          <Image
            src={pageData.photo.url}
            width={pageData.photo.width}
            height={pageData.photo.height}
            alt={""}
            class={"person-image"}
          />
        ) : (
          <PersonPlaceholder uuid={pageData.uuid} class="person-image" />
        )}
        <div class="card-content-panel">
          <h2>
            <a class="card-link" href={`/${pageData.id}`} data-astro-prefetch>
              {pageData.displayname}
              {/* <span class="pronouns">({pageData.pronouns})</span> */}
            </a>
          </h2>
          {pageData.role && <p>{pageData.role}</p>}
          {pageData.organizationname && <p>{pageData.organizationname}</p>}
          {locationData && (
            <p>
              {locationData.city &&
                `${normalizePlaceName(locationData.city)}, `}
              {locationData.region && `${locationData.region}, `}
              {locationData.country && `${locationData.country}`}
            </p>
          )}
        </div>
      </Fragment>
    )
  }

  {
    (cardType == "chapters" || cardType == "lessons") && (
      <Fragment>
        <p class="card-tag card-tag-chapter">Book Chapter</p>

        <div class="card-content-panel">
          <h2>
            <a class="card-link" href={`/${pageData.id}`} data-astro-prefetch>
              {pageData.title}
              {/* <span class="pronouns">({pageData.pronouns})</span> */}
            </a>
          </h2>
          <HeroImage data={pageData.hero} />
          {pageData.author.displayname && <p>{pageData.author.displayname}</p>}
          {pageData.author.organizationname && (
            <p>{pageData.author.organizationname}</p>
          )}
          {authorLocationData && (
            <p>
              {authorLocationData.city &&
                `${normalizePlaceName(authorLocationData.city)}, `}
              {authorLocationData.region && `${authorLocationData.region}, `}
              {authorLocationData.country && `${authorLocationData.country}`}
            </p>
          )}
        </div>
      </Fragment>
    )
  }
  <!-- <Code code={JSON.stringify(pageData, null, 2)} /> -->

  <style>
    .card {
      padding: 1rem;
      border: 1px solid var(--color-borders);
      border-radius: 0.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      position: relative;
    }
    .card-tag {
      padding: 0.25rem 0.75rem;
      border-radius: 1rem;
      align-self: start;
      font-weight: 500;
      font-size: 0.75rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    .card > * {
    }
    .card-link::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      /* background-color: yellow; */
      /* z-index: -1; */
    }
    .card:focus-within,
    .card:hover {
      border-color: var(--color-cta);
    }
  </style>
  <style>
    .card-content-panel p {
      font-size: 0.8rem;
    }
    .card-content-panel h2,
    .card-content-panel h2 a {
      font-size: 1rem;
      text-decoration: none;
    }
    .card-tag-person {
      background-color: var(--color-category-d);
      color: var(--color-theme-background);
    }
    .card-tag-chapter {
      background-color: var(--color-category-a);
      color: var(--color-theme-background);
    }
    .pronouns {
      font-weight: 300;
    }
    .person-image {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 4rem;
      background-color: var(--color-borders);
    }

    .card-img-rect {
      width: 100%;
      height: 8rem;
      object-fit: cover;
      border-radius: 0.5rem;
      background-color: var(--color-borders);
    }
  </style>
</div>
